@let quotesStreamIsStarted = this.wssCore.streamActive$ | async;
@let connectionState = (this.wssCore.connectionState$ | async) ?? 'disconnected';
<main>
  <details
    open
    class="mng-panel"
  >
    <summary class="mng-panel__header">
      <div class="mng-panel__header__status">
        Test Server Panel - Server:
        <span
          class="mng-panel__header__status_state"
          [ngClass]="connectionState === 'connected'? 'Connected' : 'Disconnected'"
        >
          {{ connectionState | titlecase}} 
          {{['Reconnecting','Connecting','Disconnecting'].includes(connectionState)? '...' : ''}}
        </span>
      </div>
    </summary>
    <form [formGroup]="manageStreamForm">
      <div class="form__parameters">
        <mat-form-field>
          <mat-label for="">TimeToWork</mat-label>
          <input
            matInput
            matTooltip="Stream time in seconds"
            formControlName="timeToWork"
            id="time"
            autocomplete="on"
          />
          @if (timeToWork?.errors?.["required"]) {
            <mat-error> Please set value </mat-error>
          }
          @if (timeToWork?.errors?.["pattern"]) {
            <mat-error> Only numbers </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label for="">Interval</mat-label>
          <input
            matInput
            matTooltip="Emit interval in milliseconds"
            formControlName="intervalToEmit"
          />
          @if (interval?.errors?.["required"]) {
            <mat-error> Please set value </mat-error>
          }
          @if (interval?.errors?.["pattern"]) {
            <mat-error> Only numbers </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label for="">Market</mat-label>

          <mat-select formControlName="market">
            <mat-option [value]="'m'"> MOEX</mat-option>
            <mat-option [value]="'n'"> Nasdaq</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button
        #manage
        class="button-icon size-l outline-button"
        [disabled]="manageStreamForm.invalid"
        [ngClass]="
          quotesStreamIsStarted ? 'form__button-stream stop-stream' : 'form__button-stream start-stream'
        "
        (click)="manageStream()"
      >
        <mat-icon prefix>
          {{ quotesStreamIsStarted? "cancel" : "smart_display" }}
        </mat-icon>
        <span
          class="form__button-stream-text"
          #status
        >
          {{ quotesStreamIsStarted? "Stop" : "Start" }} ws test-server
        </span>
      </button>
    </form>
  </details>
</main>