
$base--content-width:44vw;
$desktop--content-width:60vw;
$tablet--content-width:80vw;
$mobile--content-width:96vw;

$mobile--font-size:12px;
/* Color styles */
$font-family-base:'Onest';
$text---primary: #1E2938;
$text---secondary: #7FA0CD;
$text---light: #FFFFFF;
$text---link: #2563EB;
$text---extra: #284073;
$text---warning: #F9544A;
$text-success: #45CB78;
$base---accent: #2563EB;
$base---primary: #284073;
$base---secondary: #DBEAFE;
$base---light: #FFFFFF;
$base---light-hover: #F9FCFF;
$base---warning--secondary: #FEDDDB;
$base---warning--accent: #F9544A;
$line---primary: #DBEAFE;
$line---hover: #B9D4F9;
$line---accent: #2563EB;
$line---panel:rgba(128, 128, 128, 0.543);
$line---extra: #C1D3F1;
$line---warning: #F9544A;

/* Text-size styles */
$heading---x-x-l: 32px;
$heading---x-l: 28px;
$heading---l: 24px;
$heading---m: 20px;
$heading---s: 16px;
$heading---x-s: 14px;
$heading---x-x-s: 12px;
$heading---overline: 12px;
$body---l---regular: 16px;
$body---l---semi: 16px;
$body---l---bold: 16px;
$body---m---regular: 14px;
$body---m---semi: 14px;
$body---m---bold: 14px;
$body---s---regular: 12px;
$body---s---regular: 12px;
$body---s---semi: 12px;
$body---s---bold: 12px;
$body--thin: 300;
$body--regular: 400;
$body--semi: 500;
$body--bold: 600;
$metric---l: 28px;
$metric---m: 24px;
$metric---s: 16px;
$code---regular: 12px;

/* Effect styles */
$style---shadow---m: 0px 1px 3px rgba(0, 0, 0, 0.1);
$style---shadow---m: 0px 1px 3px rgba(0, 0, 0, 0.1);

$corner-radius--xs: 2px;
$corner-radius--s: 4px;
$corner-radius--m: 6px;
$corner-radius--l: 8px;
$corner-radius--xl: 10px;
$corner-radius--xxl: 12px;