@use '../../../styles/mixins/media.mixin.scss' as *;
@use '../../../styles/mixins/mat-fields.mixin.scss' as formsmixins;
@use '../../../styles/mixins/nds-mixins.scss' as nds;
@use '../../../styles/variables.scss' as glob;

@include formsmixins.ng-deep-form-field-contrast-styles;
@include nds.nds-buttons;

.mat-button-disabled {
  background-color: glob.$base---warning--accent !important;
}
main {
  width: glob.$base--content-width;

  @include desktop {
    width: glob.$desktop--content-width;
  }

  @include tablet {
    width: glob.$tablet--content-width;
  }

  @include mobile {
    width: glob.$mobile--content-width;
  }

  .mng-panel {
    padding: 5px;
    &__header {
      display: flex;
      gap: 12px;
      align-items: center;
      cursor: pointer;
      padding: 6px;
      padding-left: 10px;

      border: 1px groove glob.$line---panel;
      border-radius: glob.$corner-radius--l;
      //padding-left: 12px;
      color: glob.$text---primary;

      @include mobile {
        font-size: glob.$mobile--font-size !important;
      }
      &__status {
        width: 100%;
        pointer-events: none; /* Чтобы клик сквозь текст открывал спойлер */
      }
      &__status_state.Connected {
        color: #0072ff;
      }
    }
    form {
      //display:flex;
      justify-content: space-between;
      margin-top: 1vh;
      margin-bottom: 1vh;

      @include mobile {
        display: grid;
      }
      .form__parameters {
        display: flex;
        gap: 12px;
        @include mobile {
          gap: 8px;
        }
        &_field {
          @include mobile {
            width: 100px !important;
            font-size: 12px !important;
          }
          &_select {
            @include mobile {
              width: 100px !important;
              font-size: 12px !important;
            }
          }
        }
        &_button {
          @include mobile {
            min-width: 100px;
            font-size: glob.$mobile--font-size !important;
            min-height: 30px !important;
            & mat-icon {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
