@use '../../../styles/mixins/media.mixin.scss' as *;
@use '../../../styles/mixins/mat-fields.mixin.scss' as formsmixins;
@use '../../../styles/mixins/nds-mixins.scss' as nds;
@use '../../../styles/variables.scss' as glob;

@include formsmixins.ng-deep-form-field-contrast-styles;
@include nds.nds-buttons;
:host {
  display: flex;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}
:host::ng-deep .mat-slider-track-fill {
  background-color: black !important;
}
:host::ng-deep .mat-slider-thumb {
  background-color: black !important;
}

.desktop-buttons {
  @include mobile {
    display: none;
  }
}
.content {

  width: var(--contentWidth);
  background-color: inherit;
  margin-left: 10vw;

  &__divider {
    margin: 0;
  }
  @include desktop {
    --contentWidth: 60vw;
    margin-left: 7vw;
  }

  @include tablet {
    --contentWidth: 80vw;
    margin-left: 5vw;
  }

  @include mobile {
    --contentWidth: 96vw;
    margin-left: 0;
  }

  .mng-panel {
    padding: 5px;

    &__header {
      display: flex;
      gap: 12px;
      align-items: center;
      min-height: 4vh !important;
      border: 1px groove glob.$line---panel;
      cursor: pointer;
      padding-left: 10px;
      border-radius: 10px;
      color: glob.$text---primary;

      @include mobile {
        white-space: pre-line;
        font-size: 14px !important;
      }

      &__info {
        width: 100%;
        display: flex;
        align-items: center;
        @include mobile {
          display: grid;
        }
        &_ping {
          margin-top: 1px;
          margin-left: 8px;
          display: flex;
          gap:3px;
          &.ping-good { color:glob.$base---primary; }
          &.ping-warn { color: #f1c40f; }
          &.ping-bad  { color: glob.$base---warning--accent; } 
        }
      }

      &__status.Disconnected {
        color: glob.$base---warning--accent;
      }

      &__status.Connected {
        color:glob.$base---accent;
      }

      &__user_button {
        margin-right: 4px;
        cursor: pointer;
      }
    }
  }
  .connection-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
    padding-right: 1vw;

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }

    &__button {
      min-width: 200px;
    }

    &__buffer {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 1vw;

      @include mobile {
        column-gap: 1vw;
      }

      &-label {
        @include mobile {
          font-size: 12px;
          padding-left: 1vw;
        }
      }

      &-slider {
        width: 8vw !important;
        min-width: 0 !important;
        @include tablet {
          width: 15vw !important;
        }
        @include mobile {
          display: none;
        }
      }

      &-input {
        width: 5vw;
        height: 80%;
        filter: opacity(0.6);

        @include mobile {
          width: 12vw;
          font-size: glob.$mobile--font-size;
        }
      }
    }
  }

  &__filter {
    width: var(--contentWidth);

    &__button {
      margin-left: 1vw;
      @include mobile {
        margin-left: 4vw;
      }
    }

    &__option-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .quotes-table {
    list-style-type: none;
    justify-content: space-between;
    text-align: center;

    &__header {
      display: flex;

      &-col {
        min-width: 6vw;
        color: glob.$text---primary;
        &.text-end {
          text-align: end;
        }
        @include desktop {
          min-width: 10vw;
        }
        @include mobile {
          font-size: 13px;
          min-width: 15vw;
        }
        @include mobile {
          font-size: 13px;
          min-width: 20vw;
        }
      }
    }

    &__items {
      display: flex;

      &-col {
        min-width: 6vw;
        &.text-end {
          text-align: end;
        }
        @include desktop {
          min-width: 10vw;
        }

        @include mobile {
          font-size: 13px;
          min-width: 20vw;
        }

        &.quoteUp {
          border-radius: 5px;
          animation: blinkGreen 2s;
        }
        &.quoteDown {
          border-radius: 5px;
          animation: blinkRed 2s;
        }
        &.quoteUpPrc {
          color: #1dea75;
          font-weight: 500;
        }
        &.quoteDownPrc {
          color: rgb(242, 92, 92);
          font-weight: 500;
        }
        &__icon {
          width: 26px;
          height: 26px;

          &.quoteDown {
            transform: rotate(180deg);
            margin-right: 1px;
          }

          &__arrow.quoteDown {
            fill: #bc2d10;
          }
        }
      }

      &-divider {
        width: var(--contentWidth);
        height: 0.1px;
        color: glob.$text---light;
      }
    }
  }
}
